.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../../assets/hashtag.svg') no-repeat center center;
  background-clip: padding-box;
  background-size: contain;
  z-index: -1;
}

.wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}
